@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Josefin+Sans:wght@100&family=Lobster&family=Montserrat:wght@100&family=Nunito:ital,wght@1,700&family=Pacifico&family=Righteous&family=Sarala&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Josefin+Sans:wght@100&family=Lobster&family=Montserrat:wght@100&family=Nunito:ital,wght@1,700&family=Pacifico&family=Press+Start+2P&family=Righteous&family=Sarala&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    scroll-behavior: smooth;
    background-color: #ffffff;
  }
  
  .header {
    background-color: #001020;
    color: #fff;
    padding: 0.1;
    font-family: 'Montserrat', sans-serif;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    z-index: 100;

  }

  /* .nav a {
    margin-left: 30px;
    text-align: start;
  } */

.logo{
    margin-left: 14px;
    width: 120px; 
    height: auto;
    font-size: 2.5rem;
    font-weight: 600;
    text-decoration: none;

}

.lupa{
    margin-left: -800px;
    width: 50px; 
    height: auto;
    font-size: 2.5rem;
    font-weight: 600;
    text-decoration: none;
    margin-top: 18px;
    /* background-color: #696969; */
    border-radius: 8px;
    padding: 5px;
    filter: brightness(0.5) sepia(1) hue-rotate(180deg);
}
.navbar a {
    display: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    float: right;
    width: 25%;
    padding-top: -20px;
    font-size: 1.7rem;
    color: #ffffff;
    margin-right: 400px;
    font-size: 18px;
    text-decoration: none;
  }
  .navbar a:hover,
  .navbar a.active {
    color:#800BFF;
  }

.fundo{
    background-image: url("imagens/fundo.jpg");
    background-size: contain;
    position: none;
    top: -200px;
    left: 100px;
    width: 1265px;
    height: 400px;
}
h1{
    font-family: 'Press Start 2P', cursive;
    color: black;
    margin-top: -290px;
    margin-left: 80px;
    font-size: 50px;
    
}
h2{
    color: #800BFF;
    font-family: 'Press Start 2P', cursive;
    margin-top: 20px;
    margin-left: 200px;
    font-size: 40px;
}

.p{
    color: #ffffff;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  min-height: 100%;
  position: relative;
}

.content {
  padding-bottom: 60px; /* Altura do footer */
}

.footer {
  bottom: 0;
  width: 100%;
  height: 250px; 
  background-color: #D9D9D9;
  margin-top: 0px;
}


.div1{
    width: 50%;
    float: left;
    margin-left: 50px;
    margin-top: 50px;
}
.div2{
  width: 30%;
  float: left;
  margin-left: -350px;
  margin-top: 50px;
}
.div3{
  width: 30%;
  float: right;
  margin-right: 250px;
  margin-top: -210px;
}
.div4{
  width: 55%;
  float: right;
  padding-top: 0px;
  margin-right: -450px;
  margin-top: -200px;
}

.contato{
  text-decoration: none;
  color: #696969;
}

li{
    list-style: none;
}
.ondecomprar{
  text-decoration: none;
  color: #696969;
}

.nossosprodutos{
  text-decoration: none;
  color: #696969;
}

.iphone{
    text-decoration: none;
    color: #696969;
}

.samsung{
    text-decoration: none;
    color: #696969;
}
.xiaomi{
    text-decoration: none;
    color: #696969;
}

.abrtec{
    text-decoration: none;
    color: #696969;
}

.politica{
    text-decoration: none;
    color: #696969;
}
.suporte{
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.produtos {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.sobre {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.redes{
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.primeiraparte{
  text-align: justify;
  align-items: flex-end;
  flex-direction: column;
  font-size: 1em;
  text-decoration: none;
}

.meubotao{
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 2px 2px #000000;
  font-family: 'Roboto Mono', monospace;
  margin-left: 200px;
  margin-top: -2px;
  width: 100px;
  padding: -10px;
  border-bottom: none;
}

.meubotao2{
    border-radius: 15px;
    background-color: #2C2C2C;
    color: #ffffff;
    width: 80px;
    padding: -20px;
    font-family: 'Inter', sans-serif;
    margin-left: 70px;
    margin-top: 50px;
}

.meubotao3{
    border-radius: 15px;
    background-color: #2C2C2C;
    color: #ffffff;
    width: 80px;
    padding: -20px;
    font-family: 'Inter', sans-serif;
    margin-left: 70px;
    margin-top: 80px;
}

.meubotao4{
    border-radius: 15px;
    background-color: #2C2C2C;
    color: #ffffff;
    width: 80px;
    padding: -20px;
    font-family: 'Inter', sans-serif;
    margin-left: 70px;
    margin-top: 35px;
}

.meubotao5{
    border-radius: 15px;
    background-color: #2C2C2C;
    color: #ffffff;
    width: 80px;
    padding: -20px;
    font-family: 'Inter', sans-serif;
    margin-left: 70px;
    margin-top: 60px;
}

.retangulo{
    width: 1260px; /* Largura do retângulo */
    height: 400px; /* Altura do retângulo */
    background-color: #001020; /* Cor de fundo do retângulo */
    margin-top: -10px;
}

.square{
  width: 220px; /* Largura do quadrado */
  height: 200px; /* Altura do quadrado */
  background-color: #D9D9D9; /* Cor de fundo do quadrado (pode ser qualquer cor) */
  border-radius: 15px;
  margin-left: 60px;
  margin-top: -310px;
}

.square2 { 
  width: 220px; 
  height: 200px; 
  background-color: #D9D9D9; 
  border-radius: 15px;
  margin-right: 690px;
  margin-top: -250px;
  float: right;
}

.square3{
  width: 220px; 
  height: 200px; 
  background-color: #D9D9D9; 
  border-radius: 15px;
  float: right;
  margin-right: 390px;
  margin-top: -256px;
}

.square4{
  width: 220px; 
  height: 200px; 
  background-color: #D9D9D9; 
  border-radius: 15px;
  float: right;
  margin-right: 90px;
  margin-top: -256px;
} 

.fone{
    margin-left: 18px;
    width: 160px; 
    height: auto;
    font-size: 2.5rem;
    font-weight: 600;
    text-decoration: none;
    margin-top: 10px;
    /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); */
}

.computadores{
    margin-left: 20px;
    width: 180px; 
    height: auto;
    font-size: 2.5rem;
    font-weight: 600;
    text-decoration: none;
    margin-top: 10px;
}

.tvs{
    margin-left: 20px;
    width: 180px; 
    height: auto;
    font-size: 2.5rem;
    font-weight: 600;
    text-decoration: none;
    margin-top: 20px;
}

.celulares{
    margin-left: 30px;
    width: 160px; 
    height: auto;
    font-size: 2.5rem;
    font-weight: 600;
    text-decoration: none;
    margin-top: -15px;
}

.fonekraken{
  margin-left: 60px;
  margin-top: -300px;
  color: #a7a4a4;
}

.vermais{
  border-radius: 10px;
  background-color: #2E2B2B;
  font-family: 'Inter', sans-serif;
  margin-left: 60px;
  color: #ffffff;
  width: 100px;
  padding: 5px;
}

.facebook{
    margin-right: 660px;
    width: 20px; 
    height: auto;
    font-size: 2.5rem;
    font-weight: 600;
    text-decoration: none;
    margin-top: 20px;
    float: right;
}

.instagram{
    margin-right: 620px;
    width: 20px; 
    height: auto;
    font-size: 2.5rem;
    font-weight: 600;
    text-decoration: none;
    margin-top: -20px;
    float: right;
}

.twitter{
    margin-right: 580px;
    width: 20px; 
    height: auto;
    font-size: 2.5rem;
    font-weight: 600;
    text-decoration: none;
    margin-top: -20px;
    float: right;
}

.cantinho{
    margin-left: 550px;
    margin-top: -250px;
}

.computer{
    color: white;
    margin-left: 395px;
    margin-top: -30px;
    font-family: 'Inter', sans-serif;
}

.phone{
    color: white;
    margin-left: 128px;
    margin-top: 30px;
    font-family: 'Inter', sans-serif;
}

.smartphones{
    color: white;
    margin-left: 700px;
    margin-top: -35px;
    font-family: 'Inter', sans-serif;
}

.televisions{
    color: white;
    margin-left: 1045px;
    margin-top: -35px;
    font-family: 'Inter', sans-serif;
}